@{
    ViewData["Title"] = "Home Page";
}
    @model LoginModel
<Doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=edvice-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css"/>
        <title>Video Games</title>
    </head>

    <body>
        <div class="text-center">
            <h4>Welcome to Video Game Store</h4>
            <div>
                We are recieving and selling games <br />
                <img src="" alt="" />
            </div>
            <a class="btn btn-primary" asp-action="VideoGameForm">Form for the video games</a>
            <a class="btn btn-primary" asp-action="Login">Login</a>

        </div>
    




    
    </body>






<div class="container mt-3 mb-3">
    
    

</div>
</html>